@charset "utf-8";
/* CSS Document */

* {align-content: center}



body{
	text-align: center;
	background-image: url("https://i.pinimg.com/originals/f6/20/a1/f620a179ca1acfd15a0754701677fb58.jpg") ;
}


.skill-box {
	display: flex;
	align-content: center;
	align-items: stretch;
	  background-color: #4753D3;
	
}

.skill-card {
color: #108B1E;	
	
	
}